{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center mt-5">CLOTHES</h1>

<div class="home_content">
    <p class="text-center pt-5">
        Si vous ne savez jamais comment vous habiller, vous êtes au bon endroit.
        <br>
        Inscrivez-vous et vous pourrez en profiter !
    </p>
    <br>
    <p class="text-center">
        Si vous êtes déjà inscrit, je vous invite à vous rendre sur la page de connexion.
    </p>
</div>
{% endblock %}
